* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
}

/* start navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px 10px 30px;
  background-color: #e6f3ff;
  z-index: 9999999;
  width: 100%;
  position: relative;
  box-shadow: 0px 2px rgba(0, 0, 0, 1%), 0 0 20px #00000060;
}

.logo .plasahosting {
  width: 170px;
  height: auto;
}

.parent-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  border-radius: 50px;
  width: auto;
  height: 67px;
  padding: 15px 30px;
  z-index: 1;
}

.nav-links li {
  padding: 10px 15px;
  border-radius: 20px;
}

.nav-links a {
  font-family: "Poopins", sans-serif;
  text-decoration: none;
  color: #0389ff;
  font-weight: 700;
  padding: 3px;
  border-bottom: solid 2px;
  border-color: transparent;
}

.nav-links a:hover {
  font-family: "Poopins", sans-serif;
  text-decoration: none;
  color: #0389ff;
  font-weight: 700;
  transition-duration: 1s;
  animation-duration: 1s;
  border-bottom: solid 2px;
}

.nav-links a.active {
  border-bottom: solid 2px #0389ff;
}

.nav-links a:hover {
  transition: 0.3s;
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0389ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-icon i {
  width: auto;
  height: auto;
  color: #fff;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger i {
  color: #0389ff;
  width: 20px;
}

.hamburger #menu {
  cursor: pointer;
}

.hamburger #close {
  display: none;
}


/* Dropdown Styling Enhancements */
.nav-links .dropdown > a {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dropdown-icon {
    font-size: 0.7em;
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.dropdown:hover .dropdown-icon {
    transform: rotate(180deg);
}

.nav-links .dropdown-menu {
    position: absolute;
    display: none;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
    z-index: 9999;
    width: 300px;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.nav-links .dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.nav-links .dropdown-menu li {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.nav-links .dropdown-menu li a {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: #0389ff;
    font-weight: 500;
}

.nav-links .dropdown-menu li a i {
    font-size: 24px;
    color: #0389ff;
    transition: transform 0.3s ease;
}

/* .nav-links .dropdown-menu li a:hover i {
    transform: scale(1.1);
} */

.dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-title {
    font-weight: 600;
    color: #151616;
}

.dropdown-description {
    font-size: 0.8em;
    color: #666;
    margin-top: 5px;
}

/* Mobile Dropdown Enhancements */
/* Mobile Dropdown Enhancements */
@media (max-width: 768px) {

    .nav-links .dropdown {
        width: 100%;
    }

    .nav-links .dropdown > a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        color: #fff;
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,0.1);
        
    }

    /* .nav-links .dropdown .dropdown-icon {
        transition: transform 0.3s ease;
    } */

    /* .nav-links .dropdown.mobile-active .dropdown-icon {
        transform: rotate(180deg);
    } */

    .nav-links .dropdown-menu {
        position: relative;
        display: none;
        width: 100%;
        background: transparent;
        box-shadow: none;
        padding: 0;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        /* transition: max-height 0.3s ease, opacity 0.3s ease; */
        visibility: hidden;
    }

    .nav-links .dropdown.mobile-active .dropdown-menu {
        visibility: visible;
        display: block;
        max-height: 500px; /* Adjust based on content */
        opacity: 1;
    }

    .nav-links .dropdown-menu li {
        /* background: rgba(255,255,255,0.05); */
        margin: 10px 0;
        padding: 5px;
        border-radius: 8px;
        /* transition: background-color 0.3s ease; */
    }

    .nav-links .dropdown-menu li a {
        color: #fff;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .nav-links .dropdown-menu li a i {
        font-size: 15px;
        color: #fff;
        opacity: 0.8;
    }

    .dropdown-content {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .dropdown-title {
        color: #fff;
        font-weight: 600;
    }

    .dropdown-description {
        color: rgba(255,255,255,0.7);
        font-size: 0.8em;
        margin-top: 5px;
    }
}

/* End Dropdown Style */



/* Responsive tablet */
@media (max-width: 768px) {
    .navbar .login {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  
    .navbar.active {
      display: flex;
      z-index: 99999;
    }
  
    .nav-links {
      left: 50%;
      top: 0;
      border-radius: 0;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      height: 100vh;
      width: 75%;
      transform: translateX(100%);
      transition-duration: 1s;
      position: fixed;
      z-index: 10;
      padding: 70px 70px 50px 40px;
    }
  
    .nav-links a {
      color: transparent;
    }
  
    .nav-links a.active {
      border-bottom: solid 2px #fff;
    }
  
    .nav-links.active a {
      margin: 15px 0;
      color: #fff;
    }
  
    .nav-links.active {
      transform: translateX(-25%);
      transition-duration: 1s;
      height: 100vh;
      width: 75%;
      top: 0;
      left: 50%;
      background-color: #0e7adf;
      position: fixed;
      padding: 70px 70px 50px 40px;
    }
  
    .hamburger {
      display: flex;
    }
  
    .hamburger.active #menu {
      display: none;
    }
  
    .hamburger.active #close {
      display: flex;
      color: #fff;
      z-index: 11;
      cursor: pointer;
      position: fixed;
      top: 20px;
      right: 20px;
    }
  }


/* Responsive   Mobile */
@media (max-width: 460px) {
  .navbar.active {
    /* display: flex; */
    z-index: 99999;
  }

  .user-icon {
    width: 30px;
    height: 30px;
  }

  .user-icon i {
    font-size: 0.8rem;
  }

  .nav-links {
    right: 0;
    top: 0;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 100vh;
    width: 75%;
    transform: translateX(100%);
    transition-duration: 1s;
    background-color: #0e7adf;
    position: fixed;
    z-index: 10;
    padding: 20px 20px 50px 40px;
  }

  .nav-links a {
    margin: 15px 0;
    color: #fff;
  }

  .nav-links a.active {
    border-bottom: solid 2px #fff;
  }

  .nav-links.active {
    transform: translateX(-25%);
    transition-duration: 1s;
    height: 100vh;
    width: 75%;
    background-color: #0e7adf;
    position: fixed;
    padding: 70px 40px 50px 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.356);
  }

  .navbar .login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .hamburger {
    display: flex;
  }

  .hamburger.active #menu {
    display: none;
  }

  .hamburger.active #close {
    display: flex;
    color: #fff;
    z-index: 11;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
  }

  .logo .plasahosting {
    width: 90px;
    height: auto;
  }
}
/* End NAVBAR */

/* START MAIN */

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: #333;
  }
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Gaya awal untuk animasi */
.bottom-init {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.7s ease, transform 1s ease;
}
/* Gaya saat elemen terlihat */
.bottom-in {
  opacity: 1;
  transform: translateY(0);
}

.top-init {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.7s ease, transform 1s ease;
}
/* Gaya saat elemen terlihat */
.top-in {
  opacity: 1;
  transform: translateY(0);
}

/* Gaya awal untuk animasi */
.right-init {
  opacity: 0;
  transform: translateX(40px);
  transition: opacity 0.5s ease, transform 0.8s ease;
}
/* Gaya saat elemen terlihat */
.right-in {
  opacity: 1;
  transform: translateX(0);
}

/* Gaya awal untuk animasi */
.Left-init {
  opacity: 0;
  transform: translateX(-40px);
  transition: opacity 0.5s ease, transform 1s ease;
}
/* Gaya saat elemen terlihat */
.Left-in {
  opacity: 1;
  transform: translateX(0);
}

.main-section {
  width: 100%;
}

.desc-plasahosting {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 60px 30px 60px;
}

.desc-plasahosting .deskripsi {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.desc-plasahosting .deskripsi h1 {
  color: #0389ff;
  font-size: 2rem;
  font-weight: 600;
}

.desc-plasahosting .deskripsi p {
  color: #565558;
  font-size: 1.2rem;
}

.desc-plasahosting .deskripsi p span {
  color: #565558;
  font-weight: 700;
}

.desc-plasahosting img {
  width: 500px;
  height: auto;
  animation: float 2s infinite ease-in-out;
}

.main-section .quote {
  width: 100%;
  padding: 20px 30px 20px 30px;
  background-color: #e1e7ec;
  margin-bottom: 2.5rem;
  opacity: 0; /* Hidden initially */
  transform: translateY(50px); /* Slide up animation */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition */
}

.main-section .quote.visible {
  opacity: 1;
  transform: translateY(0); /* Reset position when visible */
}

.main-section .quote h1 {
  font-weight: 600;
  color: #0389ff;
  text-align: center;
  font-size: 1.5rem;
  overflow: hidden; /* Ensure text is hidden before typing */
}

.main-section .history-plasahosting {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  background-image: url("../../image/gedung.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 40px;
}

.main-section .history-plasahosting .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1f1f20;
  opacity: 73%;
}

.main-section .history-plasahosting h1 {
  color: #fff;
  font-weight: 600;
  z-index: 999;
  font-size: 2rem;
  /* animation: fadeInTop 1s ease-in-out; */
}

.main-section .desc-history {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main-section .history-plasahosting .desc-history p {
  color: #fff;
  z-index: 999;
  text-align: center;
  font-weight: 400;
  opacity: 90%;
  font-size: 1.2rem;
  text-shadow: 0 0 15px #000000;
}

/* .main-section .history-plasahosting .desc-history p:nth-child(1){
  animation: fadeInTop 1s ease-in-out;
}
.main-section .history-plasahosting .desc-history p:nth-child(2){
  animation: fadeInLeft 1s ease-in-out;
}
.main-section .history-plasahosting .desc-history p:nth-child(3){
  animation: fadeInRight 1s ease-in-out;
} */

.main-section .section-why-plasahosting {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 40px;
  gap: 20px;
}

.main-section .section-why-plasahosting img {
  width: 450px;
  height: auto;
  animation: float 2s infinite ease-in-out;
}

.main-section .section-why-plasahosting .desc-why-plasahosting h1 {
  color: #0389ff;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.main-section .section-why-plasahosting .desc-why-plasahosting p {
  color: #565558;
  text-align: center;
  font-size: 1.2rem;
}

.main-section .server {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row-reverse;
  gap: 30px;
  padding: 60px 0px 60px 6rem;
  position: relative;
}

.main-section .server img {
  width: 550px;
  height: auto;
  position: absolute;
  right: 0;
}

.main-section .server .desc-server {
  width: 50%;
}

.main-section .server .desc-server h1 {
  color: #0389ff;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.main-section .server .desc-server p {
  color: #565558;
  font-size: 1.2rem;
  padding-right: 3rem;
}

.main-section .domain-murah {
  display: flex;
  position: relative;
  align-items: center;
  padding: 50px 40px;
}

.main-section .domain-murah img {
  width: 450px;
  animation: float 2s infinite ease-in-out;
}

.main-section .domain-murah .background-domain-murah {
  width: 570px;
  height: 400px;
  background-image: linear-gradient(to right,
      rgb(3, 137, 255),
      rgb(5, 66, 120));
  position: absolute;
  right: 0;
  border-radius: 10rem 0 0 10rem;
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  justify-content: center;
  align-items: end;
  gap: 1rem;
  box-shadow: 4px 1.5px 15px rgba(5, 66, 120, 0.849);
  animation: fadeInTop 1s ease-in-out;
}

.main-section .domain-murah .background-domain-murah .title {
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
  text-align: right;
}

.main-section .domain-murah .background-domain-murah p {
  font-size: 14px;
  text-align: right;
  color: #fff;
  font-weight: 400;
}

.main-section .domain-murah .background-domain-murah .cards-diskon {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  justify-content: end;
  gap: 2rem;
  margin-top: 1rem;
  width: 100%;
}

.main-section .domain-murah .background-domain-murah .cards-diskon .card-diskon {
  width: 100%;
  height: 100px;
  border: solid 3px #fff;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
}

.main-section .domain-murah .background-domain-murah .cards-diskon .card-diskon h1 {
  font-size: 16px;
  text-align: center;
  color: #fff;
  font-weight: 600;
}

.main-section .domain-murah .background-domain-murah .cards-diskon .card-diskon p {
  font-size: 12px;
  text-align: center;
  color: #f2ff3a;
}

.main-section .domain-murah .background-domain-murah .cards-diskon .card-diskon span {
  font-size: 12px;
  text-align: center;
  text-decoration: line-through;
  color: #f2ff3a;
}

.main-section .domain-murah .background-domain-murah .btn-beli-domain-now {
  background-color: #fff;
  font-size: 14px;
  color: #0389ff;
  font-weight: 700;
  padding: 15px 20px;
  border: none;
  border-radius: 5rem;
  width: max-content;
}

.main-section .layanan {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 50px;
  gap: 20px;
}

.main-section .layanan .title-layanan {
  text-align: center;
  animation: fadeInBottom 1s ease-in-out;
}

.main-section .layanan .title-layanan h1 {
  color: #0389ff;
  font-size: 2rem;
}

.main-section .layanan .title-layanan p {
  color: #565558;
  font-size: 16px;
}

.main-section .layanan .content-layanan {
  width: 100%;
  height: auto;
  color: #fff;
  box-shadow: 2px 2px 10px rgba(86, 85, 88, 0.615);
  padding: 40px 40px 40px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.main-section .layanan .content-layanan .layanan-utama {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}


.main-section .layanan .content-layanan .layanan-utama i {
  color: #0389ff;
  height: auto;
  margin-right: 10px;
  font-size: 30px;
  width: 50px;
}

.main-section .layanan .content-layanan .layanan-utama img {
  width: 50px;
  height: 1rem;
  margin-right: 10px;
}

.main-section .layanan .content-layanan .layanan-utama .desc-layanan {
  width: 100%;
}

.main-section .layanan .content-layanan .layanan-utama .desc-layanan h1 {
  font-size: 1.3rem;
  color: #0389ff;
  text-align: start;
  font-weight: 600;
}

.main-section .layanan .content-layanan .layanan-utama .desc-layanan p {
  font-size: 1rem;
  color: #000000;
  text-align: start;
}


@media (max-width: 976px) {
  .main-section .history-plasahosting {
    padding: 40px 30px;
  }

  .desc-plasahosting {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 35px 30px 35px;
  }

  .desc-plasahosting .deskripsi {
    width: 50%;
  }

  .desc-plasahosting .deskripsi h1 {
    font-size: 1.3rem;
  }

  .desc-plasahosting .deskripsi p {
    font-size: 16px;
  }

  .desc-plasahosting .deskripsi p span {
    color: #565558;
    font-weight: 700;
  }

  .desc-plasahosting img {
    width: 400px;
    height: auto;
  }

  .main-section .history-plasahosting h1 {
    font-size: 1.5rem;
  }

  .main-section .history-plasahosting .desc-history p {
    font-size: 16px;
  }

  .main-section .section-why-plasahosting {
    padding: 60px 40px;
    gap: 20px;
  }

  .main-section .section-why-plasahosting .desc-why-plasahosting p {
    font-size: 16px;
  }

  .main-section .server {
    padding: 50px;
  }

  .main-section .server img {
    width: 400px;
    height: auto;
    position: absolute;
    right: 0;
  }

  .main-section .server .desc-server p {
    color: #565558;
    font-size: 1.2rem;
    padding-right: 0;
  }

  .main-section .domain-murah {
    margin-bottom: 5rem;
  }

  .main-section .domain-murah img {
    width: 300px;
  }

  .main-section .domain-murah .background-domain-murah {
    width: 450px;
    height: auto;
  }

  .main-section .domain-murah .background-domain-murah .cards-diskon {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .main-section .history-plasahosting {
    padding: 40px 30px;
  }

  .desc-plasahosting {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 30px 35px 30px 35px;
  }

  .desc-plasahosting .deskripsi {
    width: 100%;
    gap: 30px;
  }

  .desc-plasahosting .deskripsi h1 {
    font-size: 1.5rem;
  }

  .desc-plasahosting .deskripsi p {
    font-size: 14px;
  }

  .desc-plasahosting .deskripsi p span {
    color: #565558;
    font-weight: 700;
  }

  .desc-plasahosting img {
    width: 400px;
    height: auto;
  }

  .main-section .quote h1 {
    font-size: 1.3rem;
  }

  .main-section .history-plasahosting h1 {
    font-size: 1.5rem;
  }

  .main-section .history-plasahosting .desc-history p {
    font-size: 14px;
  }

  .main-section .section-why-plasahosting {
    flex-direction: column-reverse;
    padding: 60px 40px;
    gap: 20px;
  }

  .main-section .section-why-plasahosting .desc-why-plasahosting p {
    font-size: 14px;
  }

  .main-section .server {
    justify-content: start;
    flex-direction: column-reverse;
    gap: 4rem;
    padding: 60px 30px 60px 30px;
    position: relative;
    height: 700px;
    margin-bottom: 50px;
  }

  .main-section .server img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 350px;
    height: auto;
  }

  .main-section .server .desc-server h1 {
    font-size: 1.5rem;
  }

  .main-section .server .desc-server p {
    font-size: 16px;
  }

  .main-section .server .desc-server {
    width: 100%;
  }

  .main-section .domain-murah {
    padding: 1rem;
    margin-bottom: 20px;
  }

  .main-section .domain-murah img {
    display: none;
  }

  .main-section .domain-murah .background-domain-murah {
    border-radius: 3rem;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    box-shadow: 4px 1.5px 15px rgba(5, 66, 120, 0.849);
    background-image: linear-gradient(to top,
        rgb(3, 137, 255),
        rgb(5, 66, 120));
  }

  .main-section .domain-murah .background-domain-murah .title {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
  }

  .main-section .domain-murah .background-domain-murah p {
    font-size: 16px;
    text-align: center;
    color: #fff;
    font-weight: 400;
  }

  .main-section .domain-murah .background-domain-murah .cards-diskon {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    width: 100%;
  }

  .main-section .domain-murah .background-domain-murah .cards-diskon .card-diskon {
    width: 100%;
    height: 100px;
    border: solid 3px #fff;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
  }

  .main-section .domain-murah .background-domain-murah .cards-diskon .card-diskon h1 {
    font-size: 16px;
    text-align: center;
    color: #fff;
  }

  .main-section .domain-murah .background-domain-murah .cards-diskon .card-diskon p {
    font-size: 12px;
    text-align: center;
  }

  .main-section .domain-murah .background-domain-murah .cards-diskon .card-diskon span {
    font-size: 12px;
    text-align: center;
    text-decoration: line-through;
    color: #f2ff3a;
  }

  .main-section .domain-murah .background-domain-murah .btn-beli-domain-now {
    background-color: #fff;
    font-size: 14px;
    color: #0389ff;
    font-weight: 700;
    padding: 15px 20px;
    border: none;
    border-radius: 5rem;
    width: max-content;
    margin-top: 2rem;
  }

  .main-section .layanan .content-layanan .layanan-utama {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
  }


  .main-section .layanan .content-layanan .layanan-utama i {
    color: #0389ff;
    height: auto;
    margin-right: 10px;
    font-size: 30px;
    width: 50px;
  }

  .main-section .layanan .content-layanan .layanan-utama img {
    width: 50px;
    height: 1rem;
    margin-right: 10px;
  }

  .main-section .layanan .content-layanan .layanan-utama .desc-layanan {
    width: 100%;
  }

  .main-section .layanan .content-layanan .layanan-utama .desc-layanan h1 {
    font-size: 1.3rem;
    color: #0389ff;
    text-align: start;
    font-weight: 600;
  }

  .main-section .layanan .content-layanan .layanan-utama .desc-layanan p {
    font-size: 14px;
    color: #000000;
    text-align: start;
  }
  
}

@media (max-width: 460px) {
  .main-section .history-plasahosting {
    padding: 40px 30px;
  }

  .desc-plasahosting {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 30px 35px 30px 35px;
  }

  .desc-plasahosting .deskripsi {
    width: 100%;
    gap: 20px;
  }

  .desc-plasahosting .deskripsi h1 {
    font-size: 1.3rem;
  }

  .desc-plasahosting .deskripsi p {
    font-size: 14px;
    text-align: justify;
  }

  .desc-plasahosting .deskripsi p span {
    color: #565558;
    font-weight: 700;
  }

  .desc-plasahosting img {
    width: 350px;
    height: auto;
  }

  .main-section .quote h1 {
    font-size: 1.2rem;
  }

  .main-section .history-plasahosting h1 {
    font-size: 1.3rem;
  }

  .main-section .history-plasahosting .desc-history p {
    font-size: 14px;
  }

  .main-section .section-why-plasahosting {
    flex-direction: column-reverse;
    padding: 40px 20px;
    gap: 20px;
  }

  .main-section .section-why-plasahosting img {
    width: 300px;
    height: auto;
  }

  .main-section .section-why-plasahosting .desc-why-plasahosting h1 {
    font-size: 1.3rem;
    margin-bottom: 8px;
  }

  .main-section .section-why-plasahosting .desc-why-plasahosting p {
    font-size: 14px;
  }

  .main-section .server {
    justify-content: start;
    flex-direction: column-reverse;
    gap: 4rem;
    padding: 60px 30px 60px 30px;
    position: relative;
    height: 650px;
    margin-bottom: 50px;
  }

  .main-section .server img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 300px;
    height: auto;
  }

  .main-section .server .desc-server h1 {
    font-size: 1.3rem;
  }

  .main-section .server .desc-server p {
    font-size: 14px;
    text-align: justify;
  }

  .main-section .domain-murah {
    padding: 1rem;
    margin-bottom: 3rem;
  }

  .main-section .domain-murah img {
    display: none;
  }

  .main-section .domain-murah .background-domain-murah {
    border-radius: 3rem;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    box-shadow: 4px 1.5px 15px rgba(5, 66, 120, 0.849);
    background-image: linear-gradient(to top,
        rgb(3, 137, 255),
        rgb(5, 66, 120));
  }

  .main-section .domain-murah .background-domain-murah .title {
    font-size: 1.3rem;
    color: #fff;
    font-weight: 700;
  }

  .main-section .domain-murah .background-domain-murah p {
    font-size: 14px;
    text-align: center;
    color: #fff;
    font-weight: 400;
  }

  .main-section .domain-murah .background-domain-murah .cards-diskon {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    width: 100%;
  }

  .main-section .domain-murah .background-domain-murah .cards-diskon .card-diskon {
    width: 100%;
    height: 100px;
    border: solid 3px #fff;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
  }

  .main-section .domain-murah .background-domain-murah .cards-diskon .card-diskon h1 {
    font-size: 16px;
    text-align: center;
    color: #fff;
    font-weight: 600;
  }

  .main-section .domain-murah .background-domain-murah .cards-diskon .card-diskon p {
    font-size: 12px;
    text-align: center;
  }

  .main-section .domain-murah .background-domain-murah .cards-diskon .card-diskon span {
    font-size: 12px;
    text-align: center;
    text-decoration: line-through;
    color: #f2ff3a;
  }

  .main-section .domain-murah .background-domain-murah .btn-beli-domain-now {
    background-color: #fff;
    font-size: 14px;
    color: #0389ff;
    font-weight: 700;
    padding: 15px 20px;
    border: none;
    border-radius: 5rem;
    width: max-content;
  }

  .main-section .layanan {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 30px;
    gap: 20px;
  }

  .main-section .layanan .title-layanan h1 {
    color: #0389ff;
    font-size: 1.3rem;
  }

  .main-section .layanan .title-layanan p {
    color: #565558;
    font-size: 14px;
  }

  .main-section .layanan .content-layanan {
    width: 100%;
    height: auto;
    color: #fff;
    box-shadow: 2px 2px 10px rgba(86, 85, 88, 0.615);
    padding: 20px 20px 20px 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .main-section .layanan .content-layanan .layanan-utama {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .main-section .layanan .content-layanan .layanan-utama i {
    color: #0389ff;
    height: auto;
    margin-right: 10px;
    font-size: 30px;
    width: 50px;
  }

  .main-section .layanan .content-layanan .layanan-utama img {
    width: 50px;
    height: 1rem;
    margin-right: 10px;
  }

  .main-section .layanan .content-layanan .layanan-utama .desc-layanan {
    width: 100%;
  }

  .main-section .layanan .content-layanan .layanan-utama .desc-layanan h1 {
    font-size: 1rem;
    color: #0389ff;
    text-align: start;
    font-weight: 600;
  }

  .main-section .layanan .content-layanan .layanan-utama .desc-layanan p {
    font-size: 14px;
    color: #000000;
    text-align: start;
  }
}

/* END MAIN */

/* START FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #0389ff;
  padding: 4rem 6rem 1.5rem 6rem;
}

.footer .content-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 5rem;
  width: 100%;
}

.footer .content-footer .footer-col-1 {
  display: grid;
  grid-column: span 3;
  gap: 1rem;
  width: fit-content;
}

.footer .content-footer .footer-col-1 img {
  width: 200px;
  height: auto;
}

.footer .content-footer .footer-col-1 p{
  margin-bottom: 1rem;

}

.footer .content-footer .footer-col-1 .alamat {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 300px;
}

.footer .content-footer .footer-col-1 h1 {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.footer .content-footer .footer-col-1 p {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}

.footer .content-footer .footer-col-2 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: fit-content;
}

.footer .content-footer .footer-col-1 .support {
  width: auto;
  max-width: 300px;
  height: auto;
}

.footer .content-footer .footer-col-2 .hosting .content-hosting {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-top: 0.8rem;
}

.footer .content-footer .footer-col-2 h1 {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.footer .content-footer .footer-col-2 a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}

.footer .content-footer .footer-col-2 a:hover {
  font-size: 14px;
  font-weight: 300;
  color: #002D55;
  text-decoration: none;
  transition-duration: 300ms;
}

footer .content-footer .footer-col-2 .perusahaan .content-perusahaan {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-top: 0.8rem;
}

.footer .content-footer .footer-col-3 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: fit-content;
}

.footer .content-footer .footer-col-3 .informasi .content-informasi {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-top: 0.8rem;
}

.footer .content-footer .footer-col-3 h1 {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.footer .content-footer .footer-col-3 a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}

.footer .content-footer .footer-col-3 a:hover {
  font-size: 14px;
  font-weight: 300;
  color: #002D55;
  text-decoration: none;
  transition-duration: 300ms;
}

footer .content-footer .footer-col-3 .bantuan .content-bantuan {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-top: 0.8rem;
}

.footer .content-footer .footer-col-4 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  gap: 3rem;
  width: fit-content;
}

.footer .content-footer .footer-col-4 .domain .content-domain {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-top: 0.8rem;
}

.footer .content-footer .footer-col-4 h1 {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.footer .content-footer .footer-col-4 a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}

.footer .content-footer .footer-col-4 a:hover {
  font-size: 14px;
  font-weight: 300;
  color: #002D55;
  text-decoration: none;
  transition-duration: 300ms;
}

.footer .follow-me {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.footer .follow-me h1 {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1rem;
}

.footer .follow-me .medsos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.footer .follow-me .medsos a {
  border-radius: 100%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.footer .follow-me .medsos a i {
  color: #fff;
  font-size: 1.5rem;
}

.copyright {
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: 500;
  padding-top: 1rem;
  font-size: 14px;
}

@media (max-width:976px) {
  .footer {
    padding: 3rem;
    padding-bottom: 1.5rem;
  }
  .footer .content-footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5rem;
    width: 100%;
  }
  .footer .content-footer .footer-col-1{
    display: grid;
    grid-column: span 2 ;
  }


  .footer .content-footer .footer-col-4 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: start;
    align-items: normal;
    right: 0px;
  }

  .footer .follow-me {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
}

@media (max-width:768px) {
  .footer{
    padding-bottom: 1.5rem;
  }

  .footer .content-footer {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 3rem;
    width: 100%;
    padding: 0px 0px 0px 0px;
  }

  .footer .content-footer .footer-col-1{
    display: grid;
    grid-column: span 3 ;
  }

  .footer .content-footer .footer-col-1 .support{
    max-width: 300px;
  }

  .footer .content-footer .footer-col-4 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: normal;
  }

  .footer .follow-me {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
}

@media (max-width:548px) {
  .footer{
    padding-bottom: 1.5rem;
  }
  .footer .content-footer {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 3rem;
    width: 100%;
    padding: 0px 0px 0px 0px;
  }

  .footer .content-footer .footer-col-1{
    display: grid;
    grid-column: span 2 ;
  }

  .footer .content-footer .footer-col-2{
    margin-left: 0rem;
  }

  .footer .content-footer .footer-col-4 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: normal;
    right: 0px;
    margin-left: 0rem;
  }

  .footer .follow-me {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    position: relative;
    right: 0px;
  }

  .copyright {
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: 500;
    padding-top: 1rem;
    font-size: 14px;
  }
}


/* END FOOTER */
