.domain-section {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}

.header {
    background-color: #e6f3ff;
    align-self: stretch;
    display: flex;
    width: 100%;
    gap: 20px;
    color: #fff;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 24px 51px;
    font: 500 20px Poppins, sans-serif;
}

.logo {
    aspect-ratio: 3.6;
    object-fit: contain;
    object-position: center;
    width: 198px;
    align-self: start;
    margin-top: 5px;
    max-width: 100%;
}

.nav-container {
    border-radius: 1000px;
    background-color: #0389ff;
    display: flex;
    align-items: start;
    gap: 32px;
    flex-wrap: wrap;
    margin: auto 0;
    padding: 16px 27px;
    border: 1px solid #0389ff;
}

.nav-item {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    color: #f5f5f5;
}

.nav-link {
    display: flex;
    gap: 4px;
}

.nav-text {
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.nav-icon {
    aspect-ratio: 1.56;
    object-fit: contain;
    object-position: center;
    width: 14px;
    margin: auto 0;
}

.nav-underline {
    background-color: #d9d9d9;
    display: flex;
    margin-top: 4px;
    width: 77px;
    height: 2px;
    border: 1px solid #0389ff;
}

.main-content {
    background-color: rgba(3, 137, 255, 0.1);
    align-self: stretch;
    display: flex;
    margin-top: 7px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 135px 80px 208px;
}

.content-wrapper {
    display: flex;
    margin-bottom: -42px;
    width: 100%;
    max-width: 1087px;
    flex-direction: column;
    align-items: center;
}

.main-title {
    color: #0389ff;
    font: 700 64px Poppins, sans-serif;
}

.subtitle {
    color: #263238;
    text-align: center;
    width: 636px;
    font: 400 20px Poppins, sans-serif;
}

.search-container {
    align-self: stretch;
    margin-top: 74px;
    width: 100%;
}

.search-wrapper {
    gap: 20px;
    display: flex;
}

.search-input-wrapper {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 77%;
    margin-left: 0;
}

.search-input-container {
    border-radius: 10px;
    width: 100%;
    padding: 16px;
    border: 1px solid #0389ff;
}

.search-input {
    border-radius: 10px;
    background-color: #fafafa;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    flex-grow: 1;
    color: #8a8e90;
    width: 100%;
    padding: 37px 14px;
    font: 500 20px Poppins, sans-serif;
}

.domain-select {
    border-radius: 10px;
    background-color: #fafafa;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-grow: 1;
    gap: 20px;
    color: #263238;
    white-space: nowrap;
    justify-content: space-between;
    width: 100%;
    padding: 30px 18px;
    font: 700 20px Poppins, sans-serif;
}

.search-button-wrapper {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 23%;
    margin-left: 20px;
}

.search-button {
    border-radius: 10px;
    background-color: #1ad95d;
    align-self: stretch;
    color: #f5f5f5;
    text-align: center;
    width: 100%;
    margin: auto 0;
    padding: 27px 49px;
    font: 700 24px Poppins, sans-serif;
}

.section-title {
    color: #0389ff;
    text-align: center;
    margin-top: 165px;
    width: 1139px;
    font: 700 64px Poppins, sans-serif;
}

.section-description {
    color: #263238;
    text-align: center;
    margin-top: 24px;
    width: 894px;
    font: 400 20px Poppins, sans-serif;
}

.domain-options {
    margin-top: 88px;
    width: 100%;
    max-width: 1272px;
}

.domain-option {
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    font-family: Poppins, sans-serif;
    margin: 0 auto;
    padding: 41px 20px 64px;
    border: 1px solid #0389ff;
}

.domain-name {
    color: #0389ff;
    font-size: 40px;
    font-weight: 700;
    align-self: center;
}

.domain-price {
    color: #1ad95d;
    font-size: 32px;
    font-weight: 700;
    align-self: center;
    margin-top: 14px;
}

.register-button {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #1ad95d;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    color: #e6e6e6;
    font-weight: 500;
    margin: 22px 0 0 15px;
    padding: 11px;
}

.view-more {
    color: #000;
    text-align: center;
    margin-top: 68px;
    font: 700 32px Poppins, sans-serif;
}

.domain-search {
    border-radius: 20px;
    margin-top: 40px;
    width: 621px;
    max-width: 100%;
    color: #949494;
    padding: 26px 35px;
    font: 300 32px Poppins, sans-serif;
    border: 2px solid #0389ff;
}

.domain-list {
    border-radius: 30px;
    background-color: #fefefe;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.25);
    display: flex;
    margin-top: 40px;
    width: 751px;
    max-width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 0 25px 32px;
    font: 20px Poppins, sans-serif;
}

.domain-list-names {
    align-self: start;
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    align-items: start;
    color: #455a64;
    font-weight: 700;
    white-space: nowrap;
}

.domain-list-prices {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #949494;
    font-weight: 500;
}

.domain-price-item {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 165px;
    max-width: 100%;
    padding: 3px 10px;
}

.price-indicator {
    background-color: #1ad95d;
    display: flex;
    width: 5px;
    height: 110px;
}

.transfer-section {
    background-color: #0389ff;
    align-self: stretch;
    display: flex;
    margin-top: 211px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    color: #fff;
    justify-content: center;
    padding: 152px 80px;
    font: 24px Poppins, sans-serif;
}

.transfer-content {
    display: flex;
    margin-bottom: -36px;
    width: 809px;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
}

.transfer-title {
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}

.transfer-description {
    font-weight: 400;
    text-align: center;
    align-self: stretch;
    margin-top: 29px;
}

.transfer-button {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 68px;
    width: 302px;
    max-width: 100%;
    color: #0389ff;
    font-weight: 500;
    padding: 24px 45px;
}

.why-section {
    align-self: stretch;
    display: flex;
    margin-top: 303px;
    width: 100%;
    flex-direction: column;
    align-items: start;
    padding: 0 64px;
}

.why-title {
    color: #0389ff;
    margin-left: 57px;
    width: 828px;
    font: 700 60px Poppins, sans-serif;
}

.why-description {
    color: #565558;
    width: 717px;
    margin: 4px 0 0 57px;
    font: 400 20px/44px Poppins, sans-serif;
}

.faq-section {
    align-self: stretch;
    margin-top: 1706px;
}

.faq-content {
    gap: 20px;
    display: flex;
}

.faq-title-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: start;
    font-family: Poppins, sans-serif;
}

.faq-title {
    color: #0389ff;
    font-size: 60px;
    font-weight: 700;
}

.faq-subtitle {
    color: #949494;
    font-size: 24px;
    font-weight: 500;
    align-self: stretch;
    margin-top: 18px;
}

.faq-image {
    display: flex;
    margin-top: 33px;
    width: 516px;
    max-width: 100%;
    height: 752px;
}

.faq-questions {
    display: flex;
    margin-top: 162px;
    width: 100%;
    flex-direction: column;
    color: #263238;
    font: 700 24px Poppins, sans-serif;
}

.faq-question {
    display: flex;
    gap: 40px 48px;
    flex-wrap: wrap;
}

.question-text {
    flex-grow: 1;
    width: 579px;
    flex-basis: auto;
}

.question-icon {
    aspect-ratio: 1.6;
    object-fit: contain;
    object-position: center;
    width: 24px;
    align-self: start;
    margin-top: 11px;
}

.question-divider {
    background-color: #949494;
    display: flex;
    margin-top: 25px;
    width: 644px;
    max-width: 100%;
    height: 1px;
}

.footer {
    background-color: #0389ff;
    align-self: stretch;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    font-family: Poppins, sans-serif;
    padding: 149px 22px 19px 68px;
}

.footer-content {
    display: flex;
    width: 100%;
    max-width: 1267px;
    align-items: start;
    gap: 20px;
    font-size: 16px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-logo-section {
    display: flex;
    margin-top: 9px;
    flex-direction: column;
    align-items: start;
}

.footer-logo {
    aspect-ratio: 3.62;
    object-fit: contain;
    object-position: center;
    width: 214px;
    max-width: 100%;
}

.footer-description {
    color: #e0e0e0;
    font-weight: 400;
    align-self: stretch;
    margin-top: 12px;
}

.footer-social-text {
    color: #fff;
    font-weight: 500;
    margin-top: 22px;
}

.footer-social-icons {
    aspect-ratio: 6.76;
    object-fit: contain;
    object-position: center;
    width: 162px;
    margin-top: 11px;
    max-width: 100%;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #fff;
    font-weight: 400;
}

.footer-menu-title {
    font-weight: 600;
    align-self: stretch;
}

.footer-menu-item {
    margin-top: 15px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #fff;
    font-weight: 400;
}

.footer-contact-title {
    font-weight: 600;
}

.footer-contact-address {
    align-self: stretch;
    margin-top: 20px;
}

.footer-contact-phone {
    margin-top: 15px;
}

.footer-contact-email {
    margin-top: 15px;
}

.footer-divider {
    margin-top: 48px;
    width: 1304px;
    max-width: 100%;
    height: 2px;
    border: 2px solid #fff;
}

.footer-copyright {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    align-self: end;
    margin-top: 9px;
}

@media (max-width: 991px) {
    .header {
        max-width: 100%;
        white-space: initial;
        padding: 0 20px;
    }

    .nav-container {
        max-width: 100%;
        white-space: initial;
        padding: 0 20px;
    }

    .main-content {
        max-width: 100%;
        padding: 100px 20px;
    }

    .content-wrapper {
        max-width: 100%;
        margin-bottom: 10px;
    }

    .main-title {
        max-width: 100%;
        font-size: 40px;
    }

    .subtitle {
        max-width: 100%;
    }

    .search-container {
        max-width: 100%;
        margin-top: 40px;
    }

    .search-wrapper {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }

    .search-input-wrapper {
        width: 100%;
    }

    .search-input-container {
        max-width: 100%;
        margin-top: 22px;
    }

    .search-input {
        max-width: 100%;
        margin-top: 40px;
        padding-right: 20px;
    }

    .domain-select {
        margin-top: 40px;
        white-space: initial;
    }

    .search-button-wrapper {
        width: 100%;
    }

    .search-button {
        margin-top: 37px;
        padding: 0 20px;
    }

    .section-title {
        max-width: 100%;
        margin-top: 40px;
        font-size: 40px;
    }

    .section-description {
        max-width: 100%;
    }

    .domain-options {
        max-width: 100%;
        margin-top: 40px;
    }

    .domain-option {
        margin-top: 30px;
    }

    .register-button {
        margin-left: 10px;
    }

    .view-more {
        max-width: 100%;
        margin-top: 40px;
        font-size: 40px;
    }

    .domain-search {
        padding: 0 20px;
    }

    .domain-list {
        padding-left: 20px;
    }

    .domain-price-item {
        margin-right: 2px;
        padding-right: 20px;
    }

    .transfer-section {
        max-width: 100%;
        margin-top: 40px;
        padding: 100px 20px;
    }

    .transfer-content {
        max-width: 100%;
        margin-bottom: 10px;
    }

    .transfer-title {
        max-width: 100%;
        font-size: 40px;
    }

    .transfer-description {
        max-width: 100%;
    }

    .transfer-button {
        margin-top: 40px;
        padding: 0 20px;
    }

    .why-section {
        max-width: 100%;
        margin-top: 40px;
        padding: 0 20px;
    }

    .why-title {
        max-width: 100%;
        font-size: 40px;
    }

    .why-description {
        max-width: 100%;
    }

    .faq-section {
        max-width: 100%;
        margin-top: 40px;
    }

    .faq-content {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }

    .faq-title-wrapper {
        max-width: 100%;
        margin-top: 40px;
    }

    .faq-title {
        max-width: 100%;
        font-size: 40px;
    }

    .faq-subtitle {
        max-width: 100%;
    }

    .faq-image {
        max-width: 100%;
    }

    .faq-questions {
        max-width: 100%;
        margin-top: 40px;
    }

    .faq-question {
        margin-right: 10px;
    }

    .question-text {
        max-width: 100%;
    }

    .question-icon {
        margin: 40px 10px 0 0;
    }

    .question-divider {
        max-width: 100%;
    }

    .footer {
        max-width: 100%;
        padding: 100px 20px 0;
    }

    .footer-content {
        max-width: 100%;
    }

    .footer-logo-section {
        max-width: 100%;
    }

    .footer-description {
        max-width: 100%;
    }

    .footer-divider {
        margin-top: 40px;
    }
}