* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #e6f0ff;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links li {
  padding: 10px 15px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-links li:hover {
  background-color: #0066ff;
  border-radius: 20px;
  transition: 0.3s;
}

.user-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0066ff;
  padding: 5px;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px;
  transition: 0.4s;
}

/* Hamburger berubah menjadi close */
.hamburger.active .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(10px, -10px);
}

.hamburger.active .navbar{
  z-index: 99999;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    right: 0;
    height: 100vh;
    top: 0;
    background-color: #0066ff;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateY(100%);
    transition: transform 0.4s ease-in-out;
    padding-top: 50px;
  }

  .nav-links li {
    margin: 15px 0;
  }

  .nav-links.active {
    transform: translateY(0);
    padding-top: 50px;
  }

  .hamburger {
    display: flex;
  }

  .user-icon {
    display: none;
  }
}
